BP/*
BP
data/users/*
/utils/__pychache__/*
/utils/__pychache__/
/ui/__pychache__/*
tasks.txt
/utils/__pycache__
/ui/__pycache__
utils/__pycache__/file_handler.cpython-38.pyc
*.pyc
plan-transactionHoverSelect.prompt.md
reason(main_ui.py - line 80).png